* {
  margin: 0;
  padding: 0;
}
a {
  color: var(--font-color);
  text-decoration: none;
}
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 6px;
  background-color: var(--scroll-background-color);
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 6px;
  background-color: var(--scroll-background-color);
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: var(--scroll-background-color);
}

/* 用户菜单 */
.menu-popper {
  padding: 0 !important;
}
.user-menu-item {
  padding: 6px;
  color: var(--font-color);
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: all .3s;
}
.user-menu-item:hover {
  background-color: var(--user-menu-background-hover);
}

/* 用户表情包菜单 */
.emoticon-pack-container {
  max-height: 288px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 80px);
  justify-items: center;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
}
.emoticon-pack-item {
  position: relative;
  cursor: pointer;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 5px;
  transition: all .3s;
  box-sizing: border-box;
}
.emoticon-pack-item:hover {
  background-color: var(--user-menu-background-hover);
}
.emoticon-pack-item img {
  width: 100%;
  object-fit: contain;
}
.emoticon-pack-item .delete-icon {
  position: absolute;
  top: -1px;
  right: -1px;
}

.upload-emoticon-pack {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #cfd3dc;
}
.upload-emoticon-pack .el-upload {
  width: 100%;
  height: 100%;
}

/* root名字特效 */
.changing-text,
.changing-text::after {
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #00e6f6;
 outline: transparent;
 position: relative;
 animation: 2s glitch infinite;
 animation-timing-function: steps(2, end);
}
.changing-text::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}
.changing-text:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}
@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-10px, -5px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(5px, 5px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-5px, 5px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 5px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(10px, -5px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-5px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}