:root {
  --font-color: #cfd3dc;
  --background-color: #21252b;
  --border-color: #3e4452;
  --message-content-color: #21252b;
  --message-content-background-color: #ffffff;
  --time-color: #3e4452;
  --file-content-color: #ffffff;
  --file-content-background-color: #3e4452;
  --send-btn-color: #cfd3dc;
  --send-btn-border-color: #323842;
  --send-btn-background-color: #21252b;
  --send-btn-shadow-color: #323842;
}