* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 6px;
  background-color: #3e4452;
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 6px;
  background-color: #3e4452;
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #3e4452;
}

.menu-popper {
  padding: 0 !important;
}
.user-menu-item {
  padding: 6px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: all .3s;
}
.user-menu-item:hover {
  background-color: #909399;
}
